* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main_container {
  background-color: lightseagreen;
  padding: 20px;
  height: 100%;
}
.heading {
  font-size: 50px;
  text-align: center;
  padding-bottom: 20px;
}
.content {
  font-size: 20px;
  color: rgb(68, 62, 62);
}
#submit_btn {
  text-align: center;
  margin-top: 20px;
}
#submit_btn > button {
  text-align: center;
  padding: 15px;
  width: 100px;
  font-size: 20px;
  border-radius: 8px;
  background-color: indigo;
  color: azure;
}
.doll_img {
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: auto;
  object-fit: contain;
}
.doll_img:hover {
  cursor: pointer;
  background-color: blue;
  border-radius: 50%;
  box-shadow: 5px 5px 20px red;
  transition: 0.25s ease-in-out;
}
/* 0-255 */
/* 0 1 2 9 A B C D E F   hex  color code   */
.color {
  background-color: rgba(155, 126, 30, 0.637);
  height: 80px;
}
#submit_btn > button:hover {
  cursor: pointer;
  background-color: rgb(111, 24, 173);
}
